
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e2a4bb1024.js" crossorigin="anonymous"></script>

    <div class="jumbotron jumbotron-fluid d-flex col-12 p-0 mb-0"  style="background-color:#2d2d2d;">
        <div class="container col-10">
          <h1 class="display-5 text-white mt-5 ml-5 text-center">VETEMENTS ET BIJOUX ARTISANAUX</h1>
          <p class="lead text-center text-white">Achetez les plus beaux vêtements et bijoux.</p>
        </div>

<%if(typeof user!="undefined" ){%>
        <div class="container  d-flex col-1 p-0 mb-0" style="background-color:#525050;" >
            <div class="align-self-center  m-auto "><a href="/deconnection"><i class="fas fa-user-alt" style="font-size:2em;"></i></a></div>
        </div>
<%}else{%>
  <div class="container  d-flex col-1 p-0 mb-0" style="background-color:#525050;" >
      <div class="align-self-center  m-auto "><i class="fas fa-user-alt" style="font-size:2em;"></i></div>
  </div>
  <%}%>
        <div class="container d-flex col-1 p-0 mb-0" style="background-color:#796a5a;" >
            <div class="align-self-center  m-auto "><a href="/panier"> <i class="fas fa-shopping-cart" style="font-size:2em;""></i></a></div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow" >
        <a class="navbar-brand" href="#">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
      </li>
<%if(typeof user!="undefined" && user.role=="admin"){%>
      <li class="nav-item">
        <a class="nav-link" href="/produits/gerer">Gérer produits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categories">Gérer catégories</a>
      </li>
<%}%>
    </ul>
 <a href="/connect/1" class="btn btn-primary">Connecter user</a> 
 <a href="/connect/2" class="btn btn-primary">Connecter admin</a>
  </div>
      </nav>